<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ability Details</title>
    <link rel="stylesheet" href="about.css">
</head>
<body>
    
    <div><h1>Skills</h1>

        <h2>Shadowraze <span><img class="img" src="shadowraze.png" alt=""></span></h3>
        <p>Shadow Fiend razes the ground directly in front of him, dealing damage to enemy units in the area. Adds a stacking damage amplifier on the target that causes the enemy to take bonus Shadowraze damage per stack. Each consecutive stack also decreases movement speed.</p>
        <H2>Necromastery <span><img class="img" src="necromastery.png" alt=""></span></H3>
        <p>Shadow Fiend steals the soul from units he kills, gaining bonus damage. On death, he releases 30.0% of them from bondage.</p>
        <h2>Presence of the Dark Lord <span><img class="img" src="dark_lord.png" alt=""></span></h3>
        <p>Shadow Fiend's presence reduces the armor of nearby enemies. Every enemy hero killed nearby further improves armor reduction by 2.0 for 20.0s.</p>
        <h2>Requiem of Souls<span><img class="img" src="requiem.png" alt=""></span></h3>
        <p>Shadow Fiend gathers his captured souls to release them as lines of demonic energy. Units near Shadow Fiend when the souls are released can be damaged by several lines of energy. Any unit damaged by Requiem of Souls will be feared and have its movement speed and magic resistance reduced for 0.7 seconds for each line hit up to a maximum of 2.1. Lines of energy are created for every soul captured through Necromastery. 
    
            Requiem of Souls is automatically cast whenever Shadow Fiend dies, regardless of its cooldown.</p>
    
    
            <a href="/photo">How to use</a></div>
</body>
</html>
    
    
    
