
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nevermore</title>
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        <div><h1>Nevermore</h1>
        <h2>Agility <span><img src="agility.png" alt=""></span></h2>
        <img src="nevermorehome.jpg" alt="Demon picture">
        <p>Welcome everybody, lets talk about one of my favorites caractheres in Dota 2</p>
        <p>It is said that Nevermore the Shadow Fiend has the soul of a poet, and in fact he has thousands of them. Over the ages he has claimed the souls of poets, priests, emperors, beggars, slaves, philosophers, criminals and (naturally) heroes; no sort of soul escapes him. What he does with them is unknown. No one has ever peered into the Abysm whence Nevermore reaches out like an eel from among astral rocks. Does he devour them one after another? Does he mount them along the halls of an eldritch temple, or pickle the souls in necromantic brine? Is he merely a puppet, pushed through the dimensional rift by a demonic puppeteer? Such is his evil, so intense his aura of darkness, that no rational mind may penetrate it. Of course, if you really want to know where the stolen souls go, there's one sure way to find out: Add your soul to his collection. Or just wait for Nevermore.</p>
    <a href="/about">Ability Details</a></div>
        

    </body>
    </html>