<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Nevermore</title>
    <link rel="stylesheet" href="photo.css">
</head>
<body>
    <div><h1>Miracle, the best SF</h1>
        <img src="nevermore.jpg" alt="">
        <p>Amer Al-Barkawi (Arabic: عامر البرقاوي) (born June 20, 1997), better known as Miracle-, is a Jordanian-Polish professional Dota 2 player for Nigma Galaxy.[1] He was a member of Team Liquid that won The International 2017.
        </p>
        <p>here you can see his skills with SF</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/1ZRrn9h80vg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        
        
        <a href="/works">How works</a></div>
    

</body>
</html>


