<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="work.css">
</head>
<body>
    <div><h1>How is the role of Nevermore</h1>
    <h2>Playstyle</h2>
<p>Shadow Fiend minimap icon Shadow Fiend is a ranged carry who collects the soul of every unit he kills, growing stronger with each soul claimed. Because of this, he benefits from a high attack damage potential, but also suffer punishing setbacks if he dies. The Shadow Fiend can also unleash all the souls he has gathered, devastating enemies over a wide area with Requiem of Souls icon Requiem of Souls. While highly effective as an offensive hero, Shadow Fiend has no defensive abilities and needs help from teammates to position his abilities. </p>
<h3>Pros</h3>
<ul><li>Gains damage from kills.</li>
<li>Fast farmer.</li>
<li>Good balance of early game magic damage and late game physical damage.</li>
<li>Extremely high physical damage.</li></ul>

<h3>Cons</h3>
<ul>
<li>Loses damage upon dying.</li>
<li>No escape mechanism</li>
<li>Requires good positioning.</li>
<li>Low starting damage.</li>
</ul>
<a href="/">go to home</a></div>
    

</body>
</html>